<span class="segment">if {{left}} {{operator}} {{right}} do</span>
{{#if trueBody}}<span class="segment">{{trueBody}}</span>{{/if}}
{{#if falseBody}}<span class="segment">{{#if trueBody}}else, </span>{{/if}}<span class="segment">{{falseBody}}</span>{{/if}}
